{% extends 'base/main.html' %}
{% block content %}

<div class="bg-border-container">

    <div class="header-bar">
        
        <h1 style="margin:10px;padding:10px;" > Login </h1>
    </div>
    <div class="card-wrapper">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class="button" style="margin-left:auto" type="submit" value="Login">

            <p >Don't have an account <a href="{% url 'register'%}">Register</a></p>
        </form>
    </div>
</div>
{% endblock %}