{% extends 'base/main.html' %}
{% block content %}
<div class="bg-border-container">
    <div class="header-bar">
        <h1 style="margin:10px;padding:10px;"> Register </h1>
    </div>
    <div class="card-wrapper">
        <form action="" method="POST">
            {% csrf_token %}
            <label> {{form.username.label}}</label>
            {{form.username}}
    
            <label> {{form.password1.label}}</label>
            {{form.password1}}
    
            <label> {{form.password2.label}}</label>
            {{form.password2}}
            <input style="margin-top:15px;" type="submit" class="button" value="Register">
    
            <p>Already have an account ?  <a href="{% url 'login' %}"><b>Login</b></a></p>
        </form>
    </div>
</div>
{% endblock %}